---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <!-- <h1>---🦕----🦕---</h1> -->
      <p class="text-stone-700">
        Hi, my name is Paweł and I am freelance JavaScript developer with over a
        decade of experience.
      </p>
      <p class="mt-10 text-yellow-500 text-xs">
        This is a brand new website and is currently still under construction.
        More useful information will be coming soon!
      </p>
    </main>
    <Footer />
  </body>
</html>
